[run]
branch = True

omit =
    */ENV/*
    */migrations/*
    */test/*
    */tests/*
    */admin.py
    */permissions.py
    */apps.py
    */__init__.py
    */tests.py
    */manage.py
    */wsgi.py
    */settings.py

source =
    lwb_heartbeat

[report]
show_missing = True
