<!DOCTYPE html>

{% load static %}

<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link rel="stylesheet" href="/lwb_heartbeat/lwb_heartbeat/static/normalize.css">
 

  <title>Love Without Boundaries</title>
</head>

<body>
  <header>
    <nav>
      <ul>
        <li><a href="{% url "home" %}">Home</a></li>
        <li><a href="{% url "auth_login" %}">Signin</a></li>
        {% if user.is_authenticated %}
        <li><a href="{% url "auth_logout" %}">Logout</a></li>
        {% endif %}
        {% comment %} <li><a href="{% url "home" %}">Home</a></li>
        <li><a href="{% url "profile" %}">Profile</a></li> {% endcomment %}
        {% comment %} {% if user.is_superuser %} {% endcomment %}
        {% comment %} <li><a href="{% url "admin:index" %}">Admin</a></li> {% endcomment %}
        {% comment %} {% endif %} {% endcomment %}
        {% comment %} <li><a href="{% url "auth_logout" %}">Logout</a></li> {% endcomment %}
        {% comment %} {% else %} {% endcomment %}
        {% comment %} <li><a href="{% url "registration_register" %}">SignUp</a></li>
        <li><a href="{% url "auth_login" %}">Signin</a></li> {% endcomment %}
        {% comment %} {% endif %} {% endcomment %}
      </ul>
    </nav>
    {% comment %} {% if user.is_authenticated %}
    <h3>Welcome, {{user.username}}</h3>
    {% endif %} {% endcomment %}
  </header>

  <main>
        {% if user.is_authenticated %}
        <h3>Welcome, {{user.username}}</h3>
        {% endif %}
  </main>

  <footer>
  </footer>
</body>
</html>
