{% extends 'generic/base.html' %}
{% load thumbnail %}
{% load i18n %}
{% load static %}

{% block content %}

<h2>Welcome to the home page!</h2>
{% comment %} <img id="defaultimg" src="{% static 'flowers.jpg' %}" atl="Flowers"/> {% endcomment %}
<p class="lorem">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur auctor ipsum congue mi consectetur, in blandit sapien interdum. Quisque ac purus eu leo porta venenatis. Morbi eu purus id sapien tincidunt tristique. Morbi viverra velit orci. Ut et bibendum metus. Integer accumsan ipsum porta ante ornare euismod. Fusce at efficitur mi, at fermentum risus. Vivamus feugiat lectus nec placerat consequat. Mauris ut dignissim tortor. Donec gravida aliquam dui, sed eleifend mauris egestas sit amet. Proin auctor blandit augue, in eleifend nisi semper a. Pellentesque enim nisi, feugiat tincidunt facilisis id, ornare a ex. Curabitur a mattis enim. Etiam vitae ante vel purus pulvinar accumsan.</p>
<p class="lorem">Nam eu dolor eros. Mauris sed nunc vel leo aliquam porttitor. Aenean aliquam turpis purus, ut accumsan nisl lobortis hendrerit. Duis ultricies hendrerit tellus non interdum. Nam vestibulum faucibus massa, nec fermentum nulla auctor et. Vestibulum vitae fringilla ligula, sed cursus erat. Quisque auctor tempor luctus. Vestibulum eget mi vitae dolor bibendum porta sit amet non ipsum. Nam pretium est rhoncus pellentesque facilisis. Mauris ultrices mauris in mi molestie, vel faucibus felis congue. Maecenas semper ac quam id sollicitudin.</p>
<p class="lorem"> Donec bibendum congue lectus, eu convallis mi vehicula sit amet. Fusce aliquam convallis dui, a lobortis dui consequat non. Vivamus malesuada nisi quis leo fermentum laoreet. Pellentesque ut massa feugiat, facilisis felis in, auctor ex. In sit amet ex turpis. Pellentesque mattis nisi urna, non semper lacus ultrices ac. Aliquam erat volutpat. Integer venenatis quis mauris ac lobortis. In pellentesque mauris nec tincidunt mollis. Proin ante lectus, facilisis a laoreet ac, dictum eget urna. Suspendisse semper a tortor vehicula convallis. Nam tincidunt lectus purus, eu fermentum libero accumsan ornare. Vivamus sed lorem tellus.</p>

{% endblock content %}
